.wrapper {
    display: flex;
    flex-direction: column;

    width: 600px;

    gap: 10px;
}

.ingredientsList {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 440px;
    margin: 0 0 0 16px;

    gap: 10px;

    overflow-y: auto;
}

.itemWrapper {
    display: flex;
    align-items: center;

    width: 100%;
    height: 80px;

    gap: 8px;
}

.boundariesItem {
    margin: 0 0 0 48px;
}

.orderButtonWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.price {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    gap: 8px;
}

.burgerBunPlaceholder {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 80px;
    margin: 0 0 0 16px;

    border: dashed 2px grey;
}

.ingredientsPlaceholder {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
}