.wrapper {
  display: flex;

  flex-direction: column;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 616px;
  height: calc(100vh - 88px - 92px);
  overflow-x: hidden;
  overflow-y: auto;
}

.listProfile {
  width: 100%;
}