.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 180px;
  justify-content: flex-start;
  width: calc(100% - 420px);
  height: 320px;
}

.link {
  text-decoration: none;
  padding-top: 20px;
  font-family: 'Jet Brains Mono';
	font-weight: bold;
	font-size: 24px;
	line-height: 1.25;
  margin: 0;
	padding: 0;
  color: var(--text-inactive-color);
}

.linkActive {
  text-decoration: none;
  padding-top: 20px;
  font-family: 'Jet Brains Mono';
	font-weight: bold;
	font-size: 24px;
	line-height: 1.25;
  margin: 0;
	padding: 0;
  color: var(--text-primary-color);
}

.navbarContainer {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-self: flex-start;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  color: #8585AD
}

.contentWeapper {
  height: 100%;
}