.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
}

.link {
  text-decoration: none;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
}