.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.description {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ingredientImageWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 64px;
  height: 64px;

  background-color: rgba(19, 19, 22, 1);
  border: 2px solid rgba(128, 26, 178, 1);
  border-radius: 100px;
}

.ingredientImage {
  height: 56px;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}