.modalWrapper {
    display: flex;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;

    min-width: 700px;
    min-height: 450px;
}

.modal {
    display: flex;
    flex-direction: column;

    min-width: 200px;
    min-height: 200px;

    border-radius: var(--common-border-radius-s);
    background-color: var(--background);

    z-index: 5;
}

.closeButton {
    position: absolute;
    top: 48px;
    left: calc(100% - 64px);

    cursor: pointer;
}
