.modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    
    top: calc(50% - 200px);
    left: calc(50% - 200px);

    min-width: 200px;
    min-height: 200px;

    border-radius: var(--common-border-radius-s);
    background-color: var(--background);

    z-index: 5;
}

.closeButton {
    position: absolute;
    top: 48px;
    left: calc(100% - 64px);

    cursor: pointer;
}
